.page {
  width: 100vw;
  position: relative;

  .content-wrapper {
    margin-left: 100px;
  }

  .content {
    margin-top: calc(78px + 12px);
    user-select: none;

    &.no-search-bar {
      margin-top: 0;
    }
  }
}