.side-bar {
  width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #2C2C2C;
  display: flex;
  flex-direction: column;
  align-items: center;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
    width: 100%;

    &.active, &:hover {
      background: #292a38;
    }
    .icon {
      font-size: 1.55rem;
      color: rgb(47, 252, 255);
    }
    .label {
      font-size: .6rem;
      font-weight: 600;
      color: rgba(47, 252, 255, .7);
    }
  }
}