.avatar {
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 .5rem;
}
.avatar-with-label {
  display: flex;
  margin: 0 .8rem;
  align-items: center;

  .label {
    font-weight: 700;
    font-size: .85rem;
    margin-left: .4rem;
  }
}