.banner {
  background: #FFFFFF;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 4px;
  min-height: 350px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .banner-content {
    width: calc(100%);
    flex-grow: 1;
    display: flex;
  }

  .title {
    padding: .5rem .5rem .9rem .5rem;
    font-weight: 800;
    font-size: 1.4rem;
  }
}