.button {
  display: flex;
  border-radius: 4px;
  font-size: .9rem;
  font-weight: 600;
  padding: .7rem .95rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;

  &.color-default {
    background: #DEDEDE;
    color: #121212;
  }
  &.color-primary {
    background: #4000FF;
    color: #EAEAEA;
  }

  &.size-large {
    padding: .75rem 1.95rem;
    font-size: 1.2rem;
  }
  &.size-small {
    padding: .65rem .65rem;
    font-size: .85rem;
  }
}