.mini-input {
  width: 240px;
  border-radius: 4px;
  background: rgba(255,255,255,.9);
  padding: .4rem .6rem;
  font-family: inherit;
  font-size: .7rem;
  border: none;
  margin-left: 4rem;
  outline: none;
}